In [1]:
import json

jsonText1 = None
with open('./data/tweets_italians_coronavirus_01_2020.json','r') as f1:
    jsonText1 = f1.read()

jsonText2 = None
with open('./data/tweets_italians_coronavirus_02_2020.json','r') as f2:
    jsonText2 = f2.read()
    
jsonText3 = None
with open('./data/tweets_italians_coronavirus_03_2020.json','r') as f3:
    jsonText3 = f3.read()

parsedJson1 = json.loads(jsonText1)
parsedJson2 = json.loads(jsonText2)
parsedJson3 = json.loads(jsonText3)

In [2]:
#parsedJson1

In [3]:
len(parsedJson1)

28

In [4]:
parsedJson1[0]['text'], parsedJson1[0]['timestamp'], parsedJson1[0]['timestamp_epochs']

("There's Coronavirus around and italians have been talking of a man that undressed his tie in sign of retirement since a week...",
 '2020-01-25T14:02:17',
 1579960937)

In [5]:
import pandas as pd

# Creating an empty Dataframe with column names only
df = pd.DataFrame(columns=['Label', 'Text', 'Timestamp', 'Timestamp_epochs'])

In [6]:
df

Empty DataFrame
Columns: [Label, Text, Timestamp, Timestamp_epochs]
Index: []

In [7]:
import pandas as pd

for i in range(len(parsedJson1)):
    df = df.append({'Text': parsedJson1[i]['text'], 
                      'Timestamp': parsedJson1[i]['timestamp'], 
                      'Timestamp_epochs': parsedJson1[i]['timestamp_epochs']},
                     ignore_index=True)
print(i)
    
for j in range(len(parsedJson2)):
    df = df.append({'Text': parsedJson2[j]['text'], 
                      'Timestamp': parsedJson2[j]['timestamp'], 
                      'Timestamp_epochs': parsedJson2[j]['timestamp_epochs']},
                     ignore_index=True)
print(j)
    
for k in range(len(parsedJson3)):
    df = df.append({'Text': parsedJson3[k]['text'], 
                      'Timestamp': parsedJson3[k]['timestamp'], 
                      'Timestamp_epochs': parsedJson3[k]['timestamp_epochs']},
                     ignore_index=True)
print(k)

27
1327
4213

In [8]:
df.shape

(5570, 4)

In [9]:
df = df.drop_duplicates(subset ="Text")

In [10]:
df.shape

(4227, 4)

In [11]:
len(df)

4227

In [12]:
df.head()

,Label,Text,Timestamp,Timestamp_epochs
0,NaN,There's Coronavirus around and italians have b...,2020-01-25T14:02:17,1579960937
2,NaN,Gosh the Italians are taking this #coronavirus...,2020-01-27T08:29:52,1580113792
4,NaN,"it has been a long time, since last week, that...",2020-01-28T13:26:32,1580217992
5,NaN,Italians really bullied a 13 year old Chinese ...,2020-01-28T08:24:02,1580199842
8,NaN,52 million of Chinese trapped. Only a Regime c...,2020-01-26T10:54:15,1580036055

In [13]:
df.Text = df.Text.str.replace('http\S+|www.\S+|...pic.twitter\S+|pic.twitter\S+', '')
df.Text = df.Text.str.replace(' … |  …|   …| …|…|… ', '')
df.Text = df.Text.str.replace('\n', ' ')
df = df.drop_duplicates(subset ="Text")
df = df.reset_index(drop=True)

In [14]:
#import string
#import re

#def remove_punctuation(my_string):
#    translator = re.compile('[%s]' % re.escape(string.punctuation))
#    no_punctuation = translator.sub(' ', my_string)
#    remove_multiple_spaces = re.sub(' +',' ', no_punctuation).strip()
#    return remove_multiple_spaces

In [15]:
#df.Text = [remove_punctuation(tweet) for tweet in df.Text]

In [16]:
df.to_csv("./data/raw_tweets_2020.csv", index=False)

In [17]:
#import string

#for elem in range(len(df.Text)):
#    words = df.Text[elem].split()
#    table = str.maketrans('', '', string.punctuation)
#    stripped = [w.translate(table) for w in words]
#    stripped = [string for string in stripped if string != ""]
#    df.Text[elem] = ' '.join(word for word in stripped)

In [18]:
df.shape

(3952, 4)

In [19]:
df = df.drop_duplicates(subset ="Text")

In [20]:
df.shape

(3952, 4)

In [21]:
#df["Text2"] = 0
#text = df.Text

#for l in range(len(df)):
#    txt = ' '.join(word for word in text[l].split())
#    df["Text2"][l] = txt
    
#df = df.drop_duplicates(subset = 'Text2')

In [22]:
df.head()

,Label,Text,Timestamp,Timestamp_epochs
0,NaN,There's Coronavirus around and italians have b...,2020-01-25T14:02:17,1579960937
1,NaN,Gosh the Italians are taking this #coronavirus...,2020-01-27T08:29:52,1580113792
2,NaN,"it has been a long time, since last week, that...",2020-01-28T13:26:32,1580217992
3,NaN,Italians really bullied a 13 year old Chinese ...,2020-01-28T08:24:02,1580199842
4,NaN,52 million of Chinese trapped. Only a Regime c...,2020-01-26T10:54:15,1580036055

In [23]:
df.shape

(3952, 4)

In [24]:
df = df.sort_values(by="Timestamp").reset_index(drop=True)

In [25]:
df.head()

,Label,Text,Timestamp,Timestamp_epochs
0,NaN,There's Coronavirus around and italians have b...,2020-01-25T14:02:17,1579960937
1,NaN,52 million of Chinese trapped. Only a Regime c...,2020-01-26T10:54:15,1580036055
2,NaN,Gosh the Italians are taking this #coronavirus...,2020-01-27T08:29:52,1580113792
3,NaN,Italians really bullied a 13 year old Chinese ...,2020-01-28T08:24:02,1580199842
4,NaN,"it has been a long time, since last week, that...",2020-01-28T13:26:32,1580217992

In [26]:
#df.to_csv("./data/tweets_2020.csv", index=False)

In [27]:
from textblob import TextBlob

In [28]:
def get_sentiment(tweetList):
    label = []
    arrayTextBlob = [TextBlob(tweet) for tweet in df.Text]
    
    for tweet in arrayTextBlob:
        if (tweet.sentiment.polarity < 0):
            label.append(1)
        else:
            label.append(0)
            
    return label

In [29]:
df.Label = get_sentiment(df.Text)

In [30]:
df.head()

,Label,Text,Timestamp,Timestamp_epochs
0,0,There's Coronavirus around and italians have b...,2020-01-25T14:02:17,1579960937
1,1,52 million of Chinese trapped. Only a Regime c...,2020-01-26T10:54:15,1580036055
2,1,Gosh the Italians are taking this #coronavirus...,2020-01-27T08:29:52,1580113792
3,0,Italians really bullied a 13 year old Chinese ...,2020-01-28T08:24:02,1580199842
4,0,"it has been a long time, since last week, that...",2020-01-28T13:26:32,1580217992